
@mixin flexContainer (
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null,) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
    @content;
  }

@mixin flexItem (
  $basis: null,
  $grow: null,
  $shrink: null,
) {
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
  @content;
}
