
// Breakpoints -------------------------------------------------------

$br-sm      : 480px;
$br-med     : 768px;
$br-lg      : 1024px;

$bckrnd-img   : url('g3.jpeg');


$turtle-green       :  #898d59;
$light-taupe        :  #a98a6e;
$deep-chestnut      :  #c24938; //red
$cyan-blue          :  #197bbd;
$gamboge            :  #e99415; //orange

$up-maroon          : #69140e;
$charcoal           : #2c4251;
$silver             : #c1c1c1;
$yankees-blue       : #242f40;
$jet                : #363636;


$header             : $gamboge;
$info               : $light-taupe;
$h1                 : $up-maroon;
$info--hover        : $silver;
$info--border       : $jet;
$img--border        : $deep-chestnut;

$h1--font-size      : 1.953em;
$h1--font-size__lg  : 2.441em;
$h1--margin         : 0 auto;
$h1--padding        : 0.21em;

$searchbar--height  : 1.563em;
$searchbar--margin  : 0.262em auto;

$card--max-width    : 18.19em;

$info--margin       : 0.512em;
