
//  Colors ---------------------------------------------------------------------

$turtle-green       : #898d59;
$light-taupe        : #a98a6e;
$deep-chestnut      : #c24938; //red
$cyan-blue          : #197bbd;
$gamboge            : #e99415; //orange
$up-maroon          : #69140e;
$charcoal           : #2c4251;
$silver             : #c1c1c1;
$yankees-blue       : #242f40;
$jet                : #363636;


$header             : $gamboge;
$info               : $light-taupe;
$h1                 : $up-maroon;
$info--hover        : $silver;
$info--border       : $jet;
$img--border        : $deep-chestnut;

// Images ----------------------------------------------------------------------

$bckrnd-img   : url('g3.jpeg');

// Breakpoints ------------------------------------------------------------------

$br-sm      : 480px;
$br-med     : 768px;
$br-lg      : 1024px;

//  Element sizing -------------------------------------------------------------

$header--margin     : 0.64em 0.64em;
$header--margin__break  : 0.64em auto;
$header--break      : $br-med;
$header--width      : 767px;

$h1--font-size      : 1.953em;
$h1--font-size__lg  : 3.052em;
$h1--margin         : 0 0;
$h1--padding        : 0.21em;
$h1--break__1       : $br-med;

$searchbar--height  : 1.563em;
$searchbar--margin  : 0.512em 0.512em;

$card--max-width    : 18.19em;

$info--margin       : 0.512em auto;
