
// Header elements -------------------------------------------------------------

.header {
  @include flexContainer(
  $dir: row,
  $wrap: wrap,
  $align: center,){
    align-content: space-between;
    margin-top: $header--margin;
    background-color: $header;
    border: 3px solid $jet;
    border-radius: 6px;
    opacity: 0.9;
    z-index: 10;
  }
}

h1 {
  font-size: $h1--font-size;
  font-family: 'Pirata One';
  padding: $h1--padding;
  text-align: center;
  margin: $h1--margin;
  color: $h1;
  text-shadow: -2px 1px 2px #444444;
  text-transform: uppercase;
  opacity: 1;
    @media (min-width: $br-med) {
      font-size: $h1--font-size__lg;
    }

}

#searchBar {
  visibility: hidden;
  height: $searchbar--height;
  margin: $searchbar--margin;
  border: 2px solid black;
  border-radius: 3px;
  opacity: 1;
}

// Main section elements -------------------------------------------------------

#selector1 {
  @include flexContainer(
  $dir: row,
  $wrap: wrap,
  $just: space-between,
  $align: flex-start) {}
}

.card {
  @include flexItem () {
    max-width: $card--max-width;
    margin: 1rem auto;
    text-align: center;
      @media (min-width: $br-med){
        max-width: 30%;
      }
      @media (min-width: $br-lg){
        max-width: 22.5%;
      }
  }
}

.img {
  max-width: 90%;
  border: 3px solid $img--border;
  border-radius: 4px;
  box-shadow: -12px 12px 5px 0px rgba(0,0,0,0.75);
}

.info {
  max-width: 87%;
  margin: $info--margin;
  border-bottom: 4px solid $info--border;
  border-radius: 4px;
  background-color: $info;
  opacity: 0.75;
  &:hover {
    background-color: $info--hover;
  }
}

.searchable {
  text-transform: uppercase;
}

h4 {
  margin: 2px auto;
  text-transform: uppercase;
}

p {
  margin: 4px auto;
}
